In [2]:
print 'hello world'

hello world

In [3]:
print 'shift+enter to run to cell'

shift+enter to run to cell

In [4]:
1= [1,2,3]

SyntaxError: can't assign to literal (<ipython-input-4-0691a791b20e>, line 1)

In [5]:
yo = [1,2,3]

In [6]:
yo.count

In [7]:
yo.sort

In [8]:
print yo.sort

<built-in method sort of list object at 0x10727e758>

In [9]:
ya = yo.sort

In [10]:
print ya

<built-in method sort of list object at 0x10727e758>

In [11]:
print 'ya'

ya

In [12]:
help (ya)

Help on built-in function sort:

sort(...)
    L.sort(cmp=None, key=None, reverse=False) -- stable sort *IN PLACE*;
    cmp(x, y) -> -1, 0, 1

In [14]:
help(yo)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(...)
 |      x.__add__(y) <==> x+y
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x
 |
 |  __delitem__(...)
 |      x.__delitem__(y) <==> del x[y]
 |
 |  __delslice__(...)
 |      x.__delslice__(i, j) <==> del x[i:j]
 |
 |      Use of negative indices is not supported.
 |
 |  __eq__(...)
 |      x.__eq__(y) <==> x==y
 |
 |  __ge__(...)
 |      x.__ge__(y) <==> x>=y
 |
 |  __getattribute__(...)
 |      x.__getattribute__('name') <==> x.name
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __getslice__(...)
 |      x.__getslice__(i, j) <==> x[i:j]
 |
 |      Use of negative indices is not supported.
 |
 |  __gt__(...)
 |      x.__gt__(y) <==> x>y
 |
 |  __iadd__(...)
 |      x.__iadd__(y) <==> x+=y
 |
 |  __imul__(...)
 |      x.__imul__(y) <==> x*=y
 |
 |  __init__(...)
 |      x.__init__(...) initializes x; see help(type(x)) for signature
 |
 |  __iter__(...)
 |      x.__iter__() <==> iter(x)
 |
 |  __le__(...)
 |      x.__le__(y) <==> x<=y
 |
 |  __len__(...)
 |      x.__len__() <==> len(x)
 |
 |  __lt__(...)
 |      x.__lt__(y) <==> x<y
 |
 |  __mul__(...)
 |      x.__mul__(n) <==> x*n
 |
 |  __ne__(...)
 |      x.__ne__(y) <==> x!=y
 |
 |  __repr__(...)
 |      x.__repr__() <==> repr(x)
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(...)
 |      x.__rmul__(n) <==> n*x
 |
 |  __setitem__(...)
 |      x.__setitem__(i, y) <==> x[i]=y
 |
 |  __setslice__(...)
 |      x.__setslice__(i, j, y) <==> x[i:j]=y
 |
 |      Use  of negative indices is not supported.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -- append object to end
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(cmp=None, key=None, reverse=False) -- stable sort *IN PLACE*;
 |      cmp(x, y) -> -1, 0, 1
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None
 |
 |  __new__ = <built-in method __new__ of type object>
 |      T.__new__(S, ...) -> a new object with type S, a subtype of T

this will not run as code

In [16]:
# this is a hashtag coment

In [17]:
'''
triple quote for larger multi line comments
'''

'\ntriple quote for larger multi line comments\n'

In [18]:
pwd

u'/Users/macbook/anaconda2'

In [19]:
3/2

1

In [20]:
from __future__ import division
3/2

1.5

In [21]:
2**3

8

In [22]:
4**.5

2.0

In [23]:
a=5
a+a

10

In [25]:
a=10

In [26]:
a+a

20

In [29]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate
print my_taxes

10.0

In [28]:
my_taxes

10.0

In [30]:
3.0/2

1.5

In [31]:
float(3)/2

1.5

In [32]:
4**.5

2.0

In [33]:
'hello'

'hello'

In [35]:
"now i'm ready"

"now i'm ready"

In [36]:
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [39]:
print 'hello1'
print 'hello2'
print '\n'
print 'yow'

hello1
hello2


yow

In [40]:
len('hello world')

11

In [41]:
a= 'hello world'

In [42]:
a

'hello world'

In [43]:
s =a

In [44]:
print(s)

hello world

In [45]:
s[0]

'h'

In [46]:
s[1]

'e'

In [47]:
s[1]

'e'

In [48]:
s[1:]

'ello world'

In [49]:
s[:3]

'hel'

In [50]:
s

'hello world'

In [51]:
s[-1]

'd'

In [52]:
s[:-1]

'hello worl'

In [53]:
s[::-1]

'dlrow olleh'

In [54]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [56]:
s

'hello world'

In [57]:
s+' concat this'

'hello world concat this'

In [58]:
s= s+' concat me'

In [59]:
s

'hello world concat me'

In [60]:
print s

hello world concat me

In [61]:
print(s)

hello world concat me

In [62]:
letter = 'z'

In [63]:
letter*10

'zzzzzzzzzz'

In [64]:
s

'hello world concat me'

In [65]:
s.upper()

'HELLO WORLD CONCAT ME'

In [66]:
s.lower()

'hello world concat me'

In [68]:
s.split()

['hello', 'world', 'concat', 'me']

In [71]:
s.split('w')

['hello ', 'orld concat me']

In [72]:
print 'this is a string'

this is a string

In [73]:
s= 'STRINGS'

In [96]:
print 'Pleace another string with a mod %s'    %(s)

Pleace another string with a mod STRINGS

In [86]:
x='STRINGS'
print 'blah blah %s' %(x)

blah blah STRINGS

In [95]:
print 'floating point number %20.4f' %(13.145)

floating point number              13.1450

In [103]:
print 'here is a number: %s here is a string: %s' %(123.1000000,'hi')

here is a number: 123.1 here is a string: hi

In [112]:
print 'First: %s, Second: %1.2f, Third: %s, Forth %s' %('hi', 3.14, 22, 'yaw')

First: hi, Second: 3.14, Third: 22, Forth yaw

In [115]:
print 'this is a string with an {p}'.format(p='insert')

this is a string with an insert

In [116]:
print 'One {p} two {p} three {p}'.format(p='HI!')

One HI! two HI! three HI!

In [118]:
print 'some {a} dis {b} so {c} now {c}'.format(a=5, b="every", c='6')

some 5 dis every so 6 now 6

In [119]:
my_list = [1,2,3]

In [124]:
my_list = [2,3,4]

In [125]:
my_list[0]

2

In [126]:
my_list = ['a string',23,100.232,'o']

In [127]:
len(my_list)

4

In [128]:
my_list = ['one', 'two', 'three', 4, 5]

In [129]:
my_list[0]

'one'

In [131]:
my_list[1:]

['two', 'three', 4, 5]

In [136]:
newbie = my_list + ['six', 'seven']
print newbie

['one', 'two', 'three', 4, 5, 'six', 'seven']

In [137]:
my_list

['one', 'two', 'three', 4, 5]

In [138]:
my_list *2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [141]:
l = [1,2,3]

In [149]:
l.append(4)
print l

[1, 2, 3, 'append me', 'append me', 'append me', 'append me', 4]

In [150]:
l

[1, 2, 3, 'append me', 'append me', 'append me', 'append me', 4]

In [155]:
l.pop()

4

In [156]:
l

[1, 2, 3, 'append me', 'append me', 'append me', 'append me']

In [157]:
l.pop(0)

1

In [158]:
l

[2, 3, 'append me', 'append me', 'append me', 'append me']

In [159]:
poppep_item = l.pop()

In [162]:
poppep_item

'append me'

In [163]:
l

[2, 3, 'append me', 'append me', 'append me']

In [164]:
l[100]

IndexError: list index out of range

In [165]:
l[0]

2

In [166]:
new_list = ['a', 'e', 'x', 'b','c']

In [167]:
new_list

['a', 'e', 'x', 'b', 'c']

In [168]:
new_list.reverse()

In [169]:
new_list

['c', 'b', 'x', 'e', 'a']

In [170]:
new_list.sort()

In [171]:
new_list

['a', 'b', 'c', 'e', 'x']

In [172]:
a= [1,2,3]
b=[4,5,6]
c=[7,8,9]
#made 3 lists above so we make a matrix below
matrix=[a,b,c]

In [173]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [174]:
matrix[1]

[4, 5, 6]

In [175]:
matrix[1][1]

5

In [176]:
first_col = [row[0] for row in matrix]
print first_col

[1, 4, 7]

In [177]:
my_dict = {'key1':'value1','key2':'value2'}

In [178]:
my_dict['key2']

'value2'

In [188]:
my_dictionary = {'key1':123, 'key2':[12,23,33], 'key3':['item0','item1','item2']}

In [189]:
my_dictionary['key3']

['item0', 'item1', 'item2']

In [190]:
my_dictionary['key3'][0].upper()

'ITEM0'

In [191]:
my_dictionary['key1']

123

In [192]:
my_dictionary['key1']-122

1

In [193]:
my_dictionary['key1'] = my_dictionary['key1']-122

In [194]:
my_dictionary

{'key1': 1, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [196]:
my_dictionary['key1'] -=124

In [197]:
my_dictionary['key1']

-123

In [198]:
d= {}

In [199]:
d['animal'] = 'Dog'

In [200]:
d['answer'] = 42

In [201]:
d

{'animal': 'Dog', 'answer': 42}

In [202]:
d= {'key1':{'nestkey':{'subnestkey':'value'}}}

In [203]:
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [204]:
d['key1']

{'nestkey': {'subnestkey': 'value'}}

In [205]:
d['key1']['nestkey']

{'subnestkey': 'value'}

In [206]:
d['key1']['nestkey']['subnestkey']

'value'

In [207]:
d={'key1':1,'key2':2,'key3':3}

In [208]:
d.keys()

['key3', 'key2', 'key1']

In [209]:
d.values()

[3, 2, 1]

In [212]:
d.items()

[('key3', 3), ('key2', 2), ('key1', 1)]

In [213]:
e={'k1':[1,2,3]}

In [214]:
e

{'k1': [1, 2, 3]}

In [215]:
e['k1'][1]

2

In [217]:
t=(1,2,3)

In [218]:
len(t)

3

In [220]:
t=('one',2)
t

('one', 2)

In [221]:
t[0]

'one'

In [222]:
t[-1]

2

In [223]:
t

('one', 2)

In [227]:
t.index('one')

0

In [228]:
t.count('one')

1

In [229]:
t=('one','one',3)
t.count('one')

2

In [230]:
t[0] = 'two'

TypeError: 'tuple' object does not support item assignment

In [231]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [232]:
%%writefile test.txt
Hello, this is a quick test file

Writing test.txt

In [233]:
my_file = open('test.txt')

In [234]:
my_file.read()

'Hello, this is a quick test file'

In [235]:
my_file.read()

''

In [236]:
my_file.seek(0)

In [237]:
my_file.read()

'Hello, this is a quick test file'

In [238]:
my_file.seek(1)

In [239]:
my_file.read()

'ello, this is a quick test file'

In [240]:
my_file.readlines()

[]

In [241]:
my_file.seek(0)

In [242]:
my_file.readlines()

['Hello, this is a quick test file']

In [243]:
my_file.seek(0)

In [244]:
my_file.read()

'Hello, this is a quick test file'

In [245]:
my_file.read()

''

In [246]:
my_file.readlines()

[]

In [248]:
my_file.seek(0)

In [249]:
my_file.readlines()

['Hello, this is a quick test file']

In [250]:
my_file.readlines()

[]

In [251]:
my_file = open('test.txt', 'w+')
#write to the file
my_file.write('This is a new line')

In [252]:
my_file.read()

''

In [253]:
my_file.seek(0)

In [254]:
my_file.read()

'This is a new line'

In [255]:
%%writefile test.txt
First Line
Second Line

Overwriting test.txt

In [256]:
for line in open('test.txt'):
    print line

First Line

Second Line

In [257]:
my_file.read()

'Line'

In [259]:
my_file.seek(0)

In [260]:
my_file.read(1)

'F'

In [261]:
my_file.read()

'irst Line\nSecond Line'

In [263]:
for row in open('test.txt'):
    print row

First Line

Second Line

In [264]:
x = set()

In [265]:
x.add(1)

In [266]:
x

{1}

In [267]:
x.add(2)

In [268]:
x

{1, 2}

In [269]:
x.add(1)

In [270]:
x

{1, 2}

In [271]:
l = [1,1,2,2,3,4,5,6,1,1]

In [272]:
set(l)

{1, 2, 3, 4, 5, 6}

In [273]:
a = True
print a

True

In [274]:
1>2

False

In [275]:
b=None
print b

None

In [294]:
total = 2+10**2*2/4-(-48.25)
print total
#get to 100.25 with operations

100.25

In [295]:
2/3

0.6666666666666666

In [298]:
4 + 6 * 5

34

In [299]:
3+1.5+4

8.5

In [300]:
9**.5

3.0

In [307]:
s='hello'
print s[::-1]

olleh

In [308]:
s='hello'
s[4]

'o'

In [309]:
s[-1]

'o'

In [325]:
list = [0,0,0]
print list

[0, 0, 0]

In [327]:
list = [0]
list.append(0)
list.append(0)
print list

[0, 0, 0]

In [328]:
l = [1,2,[3,4,'hello']]

In [329]:
l[2][2]='goodbye'
print l

[1, 2, [3, 4, 'goodbye']]

In [330]:
l = [5,3,4,6,1]
l.sort()
print l

[1, 3, 4, 5, 6]

In [333]:
d= {'simple_key':'hello'}
d['simple_key']

'hello'

In [335]:
d = {'k1':{'k2':'hello'}}
d ['k1']['k2']

'hello'

In [346]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [349]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [356]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

In [365]:
4**0.5 != 2

False

In [369]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

l_one[2][0] >= l_two[2]['k1']

False

In [372]:
3 <> 3

False

In [374]:
1 <=2

True

In [375]:
2 == 6/3

True

In [379]:
1<2<3

True

In [381]:
1<2 and 2<3

True

In [382]:
1==2 or 2<3

True

In [388]:
a=5
b=2
if a>b:
    a=2
    b=4
print a, b

2 4

In [389]:
if True:
    print 'it was true'

it was true

In [390]:
x=False
if x:
    print 'x is true'
else:
    print 'x is not true'

x is not true

In [394]:
loc = 'Bank'
if loc=='Auto shop':
    print 'you at auto shop'
elif loc=='Bank':
    print 'you at bank'
else:
    print 'you lost'

you at bank

In [398]:
name = 'samosa'
if name == 'sam':
    print 'sup baby'
elif name == 'samosa':
    print 'what up samosa?'
else:
    print 'who you?'

what up samosa?

In [399]:
list  = [1,2,3,4,5,6,7,8,9,10]
for item in list:
    print item

1
2
3
4
5
6
7
8
9
10

In [401]:
for item in list:
    if item%2==0:
        print item
    else:
        print 'odd numba'

odd numba
2
odd numba
4
odd numba
6
odd numba
8
odd numba
10

In [404]:
list_sum = 0

for num in list:
#     list_sum = list_sum +num
    list_sum+=num
    print list_sum, 'yo'
    
print list_sum

1 yo
3 yo
6 yo
10 yo
15 yo
21 yo
28 yo
36 yo
45 yo
55 yo
55

In [405]:
for letter in 'This is a string':
    print letter

T
h
i
s

i
s

a

s
t
r
i
n
g

In [406]:
tuple = (1,2,4)
for t in tuple:
    print t

1
2
4

In [407]:
l = [(2,4),(6,8),(10,12)]
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [410]:
#now we will unpack
for t1,t2 in l:
    print t1

2
6
10

In [412]:
d= {'k1':1,'k2':2,'k3':3}
for item in d:
    print item

k3
k2
k1

In [413]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1